.login100-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 100%;
}

.login100-form-title{
  font-weight: 700;
}

.login100-pic img{
  width: 50%;
}

select{
  border: none;
}


.countrySelect option{
  background-color: white;
}

@media (min-width:768px) {
  .login100-pic{
    width: 45%;
  }

  .login100-pic img{
    width: 100%;
  }
}