.login100-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login100-form-title{
  font-weight: 700;
}

.login100-pic img{
  width: 50%;
}

.error-message-block{
  display: block;
  color: red;
}

.error-message-hidden{
  display: none;
}

.validate-input{
  display: flex;
}

.fieldRequiered{
  color: red;
  font-size: 1.3em;
}

select{
  border: none;
}

.btn-google{
  padding-top: 3em;
  display: flex;
  justify-content: center;
}

.container-login100-form-btn{
  display: flex;
  flex-direction: column;
}


.countrySelect option{
  background-color: white;
}

@media (min-width:768px) {
  .login100-pic{
    width: 45%;
  }

  .login100-pic img{
    width: 100%;
  }
}